[Desktop Entry]
Type=Application
Name=Payneteasy API Key Pair Factory
GenericName=API Key Pair Factory
Comment=Generate an RSA key pair for the Payneteasy API
Exec=pne-akpf
Icon=com.payneteasy.keygen
Terminal=false
Categories=Utility;Security;
Keywords=RSA;key;PEM;PKCS;crypto;Payneteasy;
